/*template*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
	font-size: 16px;
	background:#3498db;
}
a{
  text-decoration: none;
}
header nav{
	position: relative;
	width: 450px;
	height: 60px;
	font-size: 0;
}
header nav a{
	line-height: 60px;
	height: 100%;
	font-size: 16px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: rgb(255,255,255);
	cursor: pointer;
}
header nav .animation{
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px 8px 0 0;
}
header nav a:nth-child(1),header nav a:nth-child(2),header nav a:nth-child(3){
	width: 33%;
}
header nav .start-home,header nav a:nth-child(1):hover~.animation{
	width: 33%;
	left: 0;
	background-color: #3498db;
}
header nav .start-recensioni,header nav a:nth-child(2):hover~.animation{
	width: 33%;
	left: 33%;
	background-color: #3498db;
}
header nav .start-profilo,header nav a:nth-child(3):hover~.animation{
	width: 33%;
	left: 66%;
	background-color: #3498db;
}
header{
	position: fixed;
	top: 0px;
	left: 0px;
  width: 100%;
  height: 60px;
  background: #0056A6;
  z-index: 9999;
}
header .logoSito{
	position: fixed;
	top: 0px;
	left: 0px;
  height: 60px;
  border-radius: 90%;
  z-index: 9999;
}
header h1{
	position: fixed;
	top: 5px;
	left: 65px;
	font-size: 40px;
	color: #ecf0f1;
	text-shadow: 4px 4px 4px #000000;
  z-index: 9999;
}
@media (max-width: 1150px) {
  header h1{
    display: none;
  }
}
header nav{
	position: fixed;
	top: 0px;
	left: 50%;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
  z-index: 9999;
}
.container{
	margin-top: 100px;
}
footer{
  background-color: #0056A6;
}
.copyright{
  background-color: rgba(0, 0, 0, 0.2);
}
/*notizie*/
#containeroutput{
  border-radius: 30px;
  background-color: #ccd2db;
}
.container#output{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: stretch;
  margin-top: 0;
}
.py-5{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.container{
  padding-right: 0;
  padding-left: 0;
}
.card{
  width: 300px;
  height: 400px;
  margin: 25px;
  background: #000;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .25s ease;
  backface-visibility: hidden;
}
.card:hover{
  transform: scale(.9);
}
.card:hover:after{
  height: 280px;
}
.card:hover .con-text p{
  margin-bottom: Opx;
  opacity: 1;
}
.card:hover img{
  filter: brightness(40%) blur(3px);
  transform: scale(1.25) ;
}
.card:hover .ul{
  transform: translate(0);
  opacity: 1;
}
.card:after{
  width: 100%;
  content: '';
  left: 0px;
  bottom: Opx;
  height: 150px;
  position: absolute;
  z-index: 20;
  transition: all .25s ease;
}
.card img{
  height: 100%;
  z-index: 10;
  transition: all .25s ease;
  filter: brightness(40%);
}
.card .con-text{
  z-index: 30;
  position: absolute;
  bottom: Opx;
  color: #fff;
  padding: 20px;
  padding-bottom: 30px;
}
.card .con-text p{
  opacity: 0;
  transition: all .25s ease;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
.card .con-text p button{
  padding: 7px 17px;
  border-radius:12px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  margin-top: 10px;
  margin-left: auto;
  cursor: pointer;
  transition: all .25s ease;
  outline: none;
}
.card .con-text p button:hover{
  background: #fff;
  color: #000;
}
img{
  max-width: 100%;
  object-fit: cover;
}
#notizia{
  border-radius: 30px;
  padding: 25px;
}
#notizia h1{
  text-align: center;
}
#notizia img{
	width: 350px;
  margin: 25px auto;
  display: block;
}
.wrappercarosel{
  max-width: 350px;
  margin: auto;
}
.carousel img{
	width: auto;
	height: auto;
	max-height: 100%;
	max-width: 100%;
	position: relative;
	top: 50%;
	left: 50%;
	-ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.alignright{
	text-align: right;
}
/*carosello*/
@keyframes tonext{
  75%{
    left: 0;
  }
  95%{
    left: 100%;
  }
  98%{
    left: 100%;
  }
  99%{
    left: 0;
  }
}
@keyframes tostart{
  75%{
    left: 0;
  }
  95%{
    left: -300%;
  }
  98%{
    left: -300%;
  }
  99%{
    left: 0;
  }
}
@keyframes snap{
  96%{
    scroll-snap-align: center;
  }
  97%{
    scroll-snap-align: none;
  }
  99%{
    scroll-snap-align: none;
  }
  100%{
    scroll-snap-align: center;
  }
}
.carousel,.carousel__viewport{
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
	 -ms-overflow-style: none;
}
.carousel::-webkit-scrollbar,.carousel__viewport::-webkit-scrollbar{
  width: 0;
}
.carousel::-webkit-scrollbar-trackz,.carousel__viewport::-webkit-scrollbar-trackz{
  background: transparent;
}
.carousel::-webkit-scrollbar-thumb,.carousel__viewport::-webkit-scrollbar-thumb{
  background: transparent;
  border: none;
}
.carousel{
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}
.carousel ol,.carousel li{
  list-style: none;
  margin: 0;
  padding: 0;
}
.carousel__viewport{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.carousel__slide{
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  counter-increment: item;
}
.carousel__snapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}
@media (hover: hover){
  .carousel__snapper{
    animation-name: tonext,snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  .carousel__slide:last-child .carousel__snapper{
    animation-name: tostart,snap;
  }
}
@media (prefers-reduced-motion: reduce){
  .carousel__snapper{
    animation-name: none;
  }
}
.carousel:hover .carousel__snapper,.carousel:focus-within .carousel__snapper{
  animation-name: none;
}
.carousel__navigation{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
.carousel__navigation-list,.carousel__navigation-item{
  display: inline-block;
}
.carousel__navigation-button{
  display: inline;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 80%;
  font-size: 0;
  transition: transform 0.1s;
}
.carousel::before,.carousel::after,.carousel__prev,.carousel__next{
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}
.carousel::before,.carousel__prev{
  left: -1rem;
}
.carousel::after,.carousel__next{
  right: -1rem;
}
.carousel::before,.carousel::after{
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}
.carousel::before{
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}
.carousel::after{
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}
/*recensioni*/
.bg-body.rounded{
  border-radius: 30px !important;
  padding: 25px !important;
}
/*login singin*/
.login-wrap{
	margin: 0;
	color: #6a6f8c;
	background: #c8c8c8;
}
.clearfix:after,.clearfix:before{
  content: '';
  display: table;
}
.clearfix:after{
  clear: both;
  display: block;
}
.login-wrap{
	width: 100%;
	margin: auto;
	max-width: 525px;
	min-height: 670px;
	position: relative;
	background: url(https://spacenerd.it/wp-content/uploads/2021/03/videogames-controller-1920x1080-1.jpg) no-repeat center;
	box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
	border-radius: 30px;
}
.login-html{
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 90px 70px 50px 70px;
	background: rgba(40,57,101,.9);
	border-radius: 30px;
}
.login-html .sign-in-htm{
	top: 20%;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	transform: rotateY(180deg);
	backface-visibility: hidden;
	transition:all .4s linear;
}
.login-html .sign-up-htm{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	transform: rotateY(180deg);
	backface-visibility: hidden;
	transition: all .4s linear;
}
.login-html .sign-in,.login-html .sign-up,.login-form .group .check{
	display: none;
}
.login-html .tab,.login-form .group .label,.login-form .group .button{
	text-transform: uppercase;
}
.login-html .tab{
	font-size: 22px;
	margin-right: 15px;
	padding-bottom: 5px;
	margin: 0 15px 10px 0;
	display: inline-block;
	border-bottom: 2px solid transparent;
}
.login-html .sign-in:checked + .tab,.login-html .sign-up:checked + .tab{
	color: #fff;
	border-color: #1161ee;
}
.login-form{
	min-height: 345px;
	position: relative;
	perspective: 1000px;
	transform-style: preserve-3d;
}
.login-form .group{
	margin-bottom: 15px;
}
.login-form .group .label,.login-form .group .input,.login-form .group .button{
	width: 100%;
	color: #fff;
	display: block;
}
.login-form .group .input,.login-form .group .button{
	border: none;
	padding: 15px 20px;
	border-radius: 25px;
	background: rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security: circle;
	-webkit-text-security: circle;
}
.login-form .group .label{
	color: #aaa;
	font-size: 12px;
}
.login-form .group .button{
	background: #1161ee;
  margin-top: 50px;
}
.login-form .group label .icon{
	width: 15px;
	height: 15px;
	border-radius: 2px;
	position: relative;
	display: inline-block;
	background: rgba(255,255,255,.1);
}
.login-form .group label .icon:before,.login-form .group label .icon:after{
	content: '';
	width: 10px;
	height: 2px;
	background: #fff;
	position: absolute;
	transition: all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left: 3px;
	width: 5px;
	bottom: 6px;
	transform: scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top: 6px;
	right: 0;
	transform: scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color: #fff;
}
.login-form .group .check:checked + label .icon{
	background: #1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform: scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform: scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform: rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform: rotate(0);
}
.hr-login{
	height: 2px;
	margin: 60px 0 50px 0;
	background: rgba(255,255,255,.2);
}
.hr-signin{
	height: 2px;
	margin: 10px 0 50px 0;
	background: rgba(255,255,255,.2);
}
.foot-lnk{
	text-align: center;
}
/*gestione notizie recensioni*/
.gestione .notizie{
  border-radius: 30px;
  padding: 25px;
  margin-bottom: 25px;
}
.gestione .recensioni{
  border-radius: 30px;
  padding: 25px;
  margin-top: 25px;
}
input[type=file].form-control{
  width: calc(100% - 150px);
  display: inline-block;
}
textarea.form-control{
	min-height: 100px;
	width: 100%;
}
button.btn.btn-primary.btn-block{
  min-width: 38px;
  margin: 6px;
}
.gestione img{
	width: auto;
	height: auto;
	max-width: 100px;
	max-height: 100px;
}
/*tabella gestione notizie recensioni*/
.table-wrapper{
  margin: 10px 0px 70px;
  box-shadow: 0px 35px 50px #0c4585;
}
.fl-table{
  border-radius: 5px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  background-color: white;
}
.fl-table td,.fl-table th{
  text-align: center;
  padding: 8px;
}
.fl-table td{
  border-right: 1px solid #f8f8f8;
}
.fl-table thead th{
  color: #ffffff;
  background:#0056A6;
}
.fl-table thead th:nth-child(odd){
  color: #ffffff;
  background: #0056A6;
}
.fl-table tr:nth-child(even){
  background: #e2e1e1;
}
@media (max-width: 767px){
  .fl-table{
    display: block;
    width: 100%;
  }
  .table-wrapper:before{
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    color: white;
    padding: 0 0 10px;
  }
  .fl-table thead,.fl-table tbody,.fl-table thead th{
    display: block;
  }
  .fl-table thead th:last-child{
    border-bottom: none;
  }
  .fl-table thead{
    float: left;
  }
  .fl-table tbody{
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  .fl-table td,.fl-table th{
    padding: 20px .625em .625em .625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    text-overflow: ellipsis;
  }
  .fl-table thead th{
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr{
    display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd){
    background: none;
  }
  .fl-table tr:nth-child(even){
    background: transparent;
  }
  .fl-table tr td:nth-child(odd){
    background: #F8F8F8;
    border-right: 1px solid #E6E4E4;
  }
  .fl-table tr td:nth-child(even){
    border-right: 1px solid #E6E4E4;
  }
  .fl-table tbody td{
    display: block;
    text-align: center;
  }
}
